.theme-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.theme {
	width: 100px;
	height: 100px;
	margin: 0 10px;
	border: 2px solid #00ffea;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.theme canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.original {
	background: #000;
}

.model-1 {
	background: #282828;
}

.model-2 {
	background: #0e0e0e;
}

.customize {
	background: #1a1a1a;
	color: #00ffea;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

.customize img {
	width: 50px;
	height: 50px;
}

.theme.selected {
	box-shadow: 0 0 20px #00ffea;
}
