.dropdown-menu {
	margin-top: 20px;
}

.dropdown-menu label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	text-shadow: 0 0 10px #00e5ff;
}

.dropdown-menu select {
	padding: 10px;
	border: 2px solid #00ffea;
	background: #111;
	color: #00ffea;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
	width: 100%;
	max-width: 200px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.dropdown-menu select:hover {
	border-color: #00e5ff;
}

.dropdown-menu select:focus {
	outline: none;
	box-shadow: 0 0 10px #00ffea;
	border-color: #00e5ff;
}

.dropdown-menu select option {
	background: #111;
	color: #00ffea;
	padding: 10px;
	border: none;
}
