.popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #111;
	padding: 20px;
	border: 2px solid #00ffea;
	border-radius: 10px;
	box-shadow: 0 0 10px #00ffea;
	z-index: 3;
}

.popup h2 {
	font-size: 18px;
	color: #00e5ff;
	text-shadow: 0 0 10px #00e5ff;
	margin-bottom: 20px;
}

.popup input[type="text"],
.popup input[type="password"] {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 10px;
	border: 2px solid #00ffea;
	background: #222;
	color: #00ffea;
	border-radius: 5px;
}

.popup button {
	width: 100%;
	padding: 10px;
	border: none;
	background: #00e5ff;
	color: #000;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Press Start 2P', cursive;
	transition: all 0.3s ease;
	border-radius: 5px;
	margin-bottom: 10px;
}

.popup button:hover {
	background: linear-gradient(45deg, #00e5ff, #00ffea);
}
